<ul>
	<li class="home"><a href="#" title="">Home</a></li>
	<li><a href="#" title="">За мен</a></li>
	<li><a href="#" title="">Контакти</a></li>
	<li><a href="#" title="">Testimonials</a></li>
</ul>