<table>

<tr>
<td class="borderTab" rowspan="18"> <img src="ElInf/backgr.jpg" width="15px" border="0"/></td>


<tr class="firstColSt">
<td></td>
<td colspan="2">ns<sup>1-2</sup></td> 
<td colspan="10">ns<sup>2</sup> (n-1)d<sup>1-10</sup></td> <td colspan="6">ns<sup>2</sup> np<sup>1-6</sup></td>

<tr class="firstColSt" > 
	<td></td>
	<td >I A </td>
	<td>II A </td>
	<td>III B</td>
	<td>IV B </td> 
	<td>V B  </td> 
	<td>VI B</td> 
	<td>VII B</td> 
	<td colspan="3">VIII B</td> 
	<td>I B</td>
	<td>II B</td> 
	<td>III A</td> 
	<td>IV A</td> 
	<td>V A</td> 
	<td>VI A</td> 
	<td>VII A</td> 
	<td>VIII A</td>
<tr />

<tr> 
	<td class="firstColSt">1</td>
	<td >
		<a class="thumbnail" href="elements.html">
			<img src="ElPic/1.jpg"/>
			<span><img src="ElInf/1.jpg"/></span>
		</a>
	</td>

<td ></td>
<td colspan="10"></td>
<td ></td>
<td ></td>
<td ></td>
<td ></td>
<td ></td>


<td><a class="thumbnail" href="elements.html"><img src="ElPic/2.jpg"/><span><img src="ElInf/2.jpg"/></span></a></td>

<tr>
<td class="firstColSt">2</td>
<td ><a class="thumbnail" href="elements.html"><img src="ElPic/3.jpg"/><span><img src="ElInf/3.png"/></span></a></td>
<td ><a class="thumbnail" href="elements.html"><img src="ElPic/4.jpg"/><span><img src="ElInf/4.jpg"/></span></a></td>

<td colspan="10"></td>
<td >
	<a class="thumbnail" href="elements/5.html"><img src="ElPic/5.jpg"/><span><img src="ElInf/5.jpg"/></span></a>
</td>
<td ><a class="thumbnail" href="elements/6.html"><img src="ElPic/6.jpg"/><span><img src="ElInf/6.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/7.html"><img src="ElPic/7.jpg"/><span><img src="ElInf/7.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/8.html"><img src="ElPic/8.jpg"/><span><img src="ElInf/8.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/9.html"><img src="ElPic/9.jpg"/><span><img src="ElInf/9.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/10.html"><img src="ElPic/10.jpg"/><span><img src="ElInf/10.jpg"/></span></a></td>
</tr>
<tr>
<td class="firstColSt">3</td>
<td ><a class="thumbnail" href="elements/11.html"><img src="ElPic/11.jpg"/><span><img src="ElInf/11.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/12.html"><img src="ElPic/12.jpg"/><span><img src="ElInf/12.jpg"/></span></a></td>
<td ></td>
<td ></td>
<td ></td>
<td ></td>
<td ></td>
<td ></td>
<td ></td>
<td ></td>
<td ></td>
<td ></td>
<td ><a class="thumbnail" href="elements/13.html"><img src="ElPic/13.jpg"/><span><img src="ElInf/13.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/14.html"><img src="ElPic/14.jpg"/><span><img src="ElInf/14.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/15.html"><img src="ElPic/15.jpg"/><span><img src="ElInf/15.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/16.html"><img src="ElPic/16.jpg"/><span><img src="ElInf/16.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/17.html"><img src="ElPic/17.jpg"/><span><img src="ElInf/17.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/18.html"><img src="ElPic/18.jpg"/><span><img src="ElInf/18.jpg"/></span></a></td>
<tr>
<td class="firstColSt">4</td>
<td ><a class="thumbnail" href="elements/19.html"><img src="ElPic/19.jpg"/><span><img src="ElInf/19.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/20.html"><img src="ElPic/20.jpg"/><span><img src="ElInf/20.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/21.html"><img src="ElPic/21.jpg"/><span><img src="ElInf/21.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/22.html"><img src="ElPic/22.jpg"/><span><img src="ElInf/22.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/23.html"><img src="ElPic/23.jpg"/><span><img src="ElInf/23.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/24.html"><img src="ElPic/24.jpg"/><span><img src="ElInf/24.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/25.html"><img src="ElPic/25.jpg"/><span><img src="ElInf/25.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/26.html"><img src="ElPic/26.jpg"/><span><img src="ElInf/26.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/27.html"><img src="ElPic/27.jpg"/><span><img src="ElInf/27.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/28.html"><img src="ElPic/28.jpg"/><span><img src="ElInf/28.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/29.html"><img src="ElPic/29.jpg"/><span><img src="ElInf/29.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/30.html"><img src="ElPic/30.jpg"/><span><img src="ElInf/30.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/31.html"><img src="ElPic/31.jpg"/><span><img src="ElInf/31.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/32.html"><img src="ElPic/32.jpg"/><span><img src="ElInf/32.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/33.html"><img src="ElPic/33.jpg"/><span><img src="ElInf/33.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/34.html"><img src="ElPic/34.jpg"/><span><img src="ElInf/34.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/35.html"><img src="ElPic/35.jpg"/><span><img src="ElInf/35.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/36.html"><img src="ElPic/36.jpg"/><span><img src="ElInf/36.jpg"/></span></a></td>


</tr>
<tr>
<td class="firstColSt">5</td>
<td ><a class="thumbnail" href="elements/37.html"><img src="ElPic/37.jpg"/><span><img src="ElInf/37.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/38.html"><img src="ElPic/38.jpg"/><span><img src="ElInf/38.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/39.html"><img src="ElPic/39.jpg"/><span><img src="ElInf/39.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/40.html"><img src="ElPic/40.jpg"/><span><img src="ElInf/40.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/41.html"><img src="ElPic/41.jpg"/><span><img src="ElInf/41.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/42.html"><img src="ElPic/42.jpg"/><span><img src="ElInf/42.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/43.html"><img src="ElPic/43.jpg"/><span><img src="ElInf/43.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/44.html"><img src="ElPic/44.jpg"/><span><img src="ElInf/44.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/45.html"><img src="ElPic/45.jpg"/><span><img src="ElInf/45.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/46.html"><img src="ElPic/46.jpg"/><span><img src="ElInf/46.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/47.html"><img src="ElPic/47.jpg"/><span><img src="ElInf/47.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/48.html"><img src="ElPic/48.jpg"/><span><img src="ElInf/48.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/49.html"><img src="ElPic/49.jpg"/><span><img src="ElInf/49.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/50.html"><img src="ElPic/50.jpg"/><span><img src="ElInf/50.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/51.html"><img src="ElPic/51.jpg"/><span><img src="ElInf/51.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/52.html"><img src="ElPic/52.jpg"/><span><img src="ElInf/52.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/53.html"><img src="ElPic/53.jpg"/><span><img src="ElInf/53.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/54.html"><img src="ElPic/54.jpg"/><span><img src="ElInf/54.jpg"/></span></a></td>


</tr>
<tr>
<td class="firstColSt">6</td>
<td ><a class="thumbnail" href="elements/55.html"><img src="ElPic/55.jpg"/><span><img src="ElInf/55.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/56.html"><img src="ElPic/56.jpg"/><span><img src="ElInf/56.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/57.html"><img src="ElPic/57.jpg"/><span><img src="ElInf/57.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/72.html"><img src="ElPic/72.jpg"/><span><img src="ElInf/72.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/73.html"><img src="ElPic/73.jpg"/><span><img src="ElInf/73.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/74.html"><img src="ElPic/74.jpg"/><span><img src="ElInf/74.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/75.html"><img src="ElPic/75.jpg"/><span><img src="ElInf/75.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/76.html"><img src="ElPic/76.jpg"/><span><img src="ElInf/76.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/77.html"><img src="ElPic/77.jpg"/><span><img src="ElInf/77.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/78.html"><img src="ElPic/78.jpg"/><span><img src="ElInf/78.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/79.html"><img src="ElPic/79.jpg"/><span><img src="ElInf/79.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/80.html"><img src="ElPic/80.jpg"/><span><img src="ElInf/80.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/81.html"><img src="ElPic/81.jpg"/><span><img src="ElInf/81.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/82.html"><img src="ElPic/82.jpg"/><span><img src="ElInf/82.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/83.html"><img src="ElPic/83.jpg"/><span><img src="ElInf/83.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/84.html"><img src="ElPic/84.jpg"/><span><img src="ElInf/84.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/85.html"><img src="ElPic/85.jpg"/><span><img src="ElInf/85.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/86.html"><img src="ElPic/86.jpg"/><span><img src="ElInf/86.jpg"/></span></a></td>


</tr>

<tr>
<td class="firstColSt">7</td>
<td ><a class="thumbnail" href="elements/87.html"><img src="ElPic/87.jpg"/><span><img src="ElInf/87.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/88.html"><img src="ElPic/88.jpg"/><span><img src="ElInf/88.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/89.html"><img src="ElPic/89.jpg"/><span><img src="ElInf/89.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/04.html"><img src="ElPic/104.jpg"/><span><img src="ElInf/104.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/105.html"><img src="ElPic/105.jpg"/><span><img src="ElInf/105.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/106.html"><img src="ElPic/106.jpg"/><span><img src="ElInf/106.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/107.html"><img src="ElPic/107.jpg"/><span><img src="ElInf/107.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/108.html"><img src="ElPic/108.jpg"/><span><img src="ElInf/108.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/109.html"><img src="ElPic/109.jpg"/><span><img src="ElInf/109.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/110.html"><img src="ElPic/110.jpg"/><span><img src="ElInf/110.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/111.html"><img src="ElPic/111.jpg"/><span><img src="ElInf/111.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/112.html"><img src="ElPic/112.jpg"/><span><img src="ElInf/112.jpg"/></span></a></td>



</tr>
<tr>
<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
</tr>
<tr >
<td colspan="2"></td>
<td class="firstColSt" colspan="16">ns<sup>2</sup> (n-2)f<sup>1-14</sup></td>
<tr><td></td><td></td><td colspan="2"> *Лантаноиди</td>

<td ><a class="thumbnail" href="elements/58.html"><img src="ElPic/58.jpg"/><span><img src="ElInf/58.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/59.html"><img src="ElPic/59.jpg"/><span><img src="ElInf/59.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/60.html"><img src="ElPic/60.jpg"/><span><img src="ElInf/60.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/61.html"><img src="ElPic/61.jpg"/><span><img src="ElInf/61.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/62.html"><img src="ElPic/62.jpg"/><span><img src="ElInf/62.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/63.html"><img src="ElPic/63.jpg"/><span><img src="ElInf/63.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/64.html"><img src="ElPic/64.jpg"/><span><img src="ElInf/64.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/65.html"><img src="ElPic/65.jpg"/><span><img src="ElInf/65.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/66.html"><img src="ElPic/66.jpg"/><span><img src="ElInf/66.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/67.html"><img src="ElPic/67.jpg"/><span><img src="ElInf/67.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/68.html"><img src="ElPic/68.jpg"/><span><img src="ElInf/68.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/69.html"><img src="ElPic/69.jpg"/><span><img src="ElInf/69.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/70.html"><img src="ElPic/70.jpg"/><span><img src="ElInf/70.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/71.html"><img src="ElPic/71.jpg"/><span><img src="ElInf/71.jpg"/></span></a></td>
</tr>

<tr>
<td></td><td></td><td colspan="2"> **Актиноиди</td>
<td ><a class="thumbnail" href="elements/90.html"><img src="ElPic/90.jpg"/><span><img src="ElInf/90.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/91.html"><img src="ElPic/91.jpg"/><span><img src="ElInf/91.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/92.html"><img src="ElPic/92.jpg"/><span><img src="ElInf/92.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/93.html"><img src="ElPic/93.jpg"/><span><img src="ElInf/93.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/94.html"><img src="ElPic/94.jpg"/><span><img src="ElInf/94.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/95.html"><img src="ElPic/95.jpg"/><span><img src="ElInf/95.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/96.html"><img src="ElPic/96.jpg"/><span><img src="ElInf/96.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/97.html"><img src="ElPic/97.jpg"/><span><img src="ElInf/97.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/98.html"><img src="ElPic/98.jpg"/><span><img src="ElInf/98.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/99.html"><img src="ElPic/99.jpg"/><span><img src="ElInf/99.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/100.html"><img src="ElPic/100.jpg"/><span><img src="ElInf/100.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/101.html"><img src="ElPic/101.jpg"/><span><img src="ElInf/101.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/102.html"><img src="ElPic/102.jpg"/><span><img src="ElInf/102.jpg"/></span></a></td>
<td ><a class="thumbnail" href="elements/103.html"><img src="ElPic/103.jpg"/><span><img src="ElInf/103.jpg"/></span></a></td>

</table>

