// Place all the styles related to the Elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.elements {
  margin: 10px 3px 10px 3px;
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  background-color:#fff;
  thead {
  	border-bottom:2px solid #0b2b06;
  	display:block;
  }
  tboby {
  }
  tr {
  	border-bottom:1px solid #0b2b06;
  	display:block;
    td {
    width: auto;
		text-align: center;
		vertical-align: middle;
		padding: 5px;
      padding: 6px 8px; 
      font-size: 12px;
      color: #6b6b6b;
      border-bottom: 0px solid #ccc;
    }
    &:first-child {
      td {
        padding: 10px 8px;
        font-weight: bold;
        //background: linear-gradient(        bottom, #eeeeee 0, #ffffff 100%);
        //background: -webkit-linear-gradient(bottom, #eeeeee 0, #ffffff 100%);
        //background: -moz-linear-gradient(   bottom, #eeeeee 0, #ffffff 100%);
        //background: -o-linear-gradient(     bottom, #eeeeee 0, #ffffff 100%);
        //background: -ms-linear-gradient(    bottom, #eeeeee 0, #ffffff 100%);
     }
    }
  }
  tr:nth-child(even) {
    //background-color: #ffffff;
  }
  tr:nth-child(odd) {
    //background-color: #fafafa;
  }
}